@model IEnumerable<ASP_SpringLibrary.Models.Autor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idAut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomAut)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomAut)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.idAut })
        </td>
    </tr>
}

</table>
