@model ASP_SpringLibrary.Models.Livro

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @Styles.Render("~/Content/LivroEsp.css")
    <div class="cima">
        <div class="image">
            <img src="@Html.DisplayFor(model => model.imgLiv)" />
        </div>

        <div class="content">
            <h1>@Html.DisplayFor(model => model.titLiv)</h1>

            <h2>R$@Html.DisplayFor(model => model.precoLiv)</h2>

            <div class="botoes">
                <button type="button" class="btn btn-lg botao">
                    <a href="@Url.Action("AdicionarCarrinho", "Carrinho", new { id = Model.ISBNLiv })">Adicionar ao Carrinho</a>
                </button>
            </div>
        </div>
    </div><hr />
    <div class="rest">
        <p>Sinopse</p>
        <h3>@Html.DisplayFor(model => model.sinopLiv)</h3><br /><br />
        <p>Detalhes do produto</p><br><br>

        <table class="table">
            <tbody>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.autLiv[0].nomAut)</th>
                    <td>
                        @foreach (var tempAut in Model.autLiv)
                        {
                            @tempAut.nomAut
                            <br />
                        }
                    </td>
                </tr>

                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.ISBNLiv)</th>
                    <td>@Html.DisplayFor(model => model.ISBNLiv)</td>
                </tr>

                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.pratLiv)</th>
                    <td>@Html.DisplayFor(model => model.pratLiv)</td>
                </tr>

                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.numPagLiv)</th>
                    <td>@Html.DisplayFor(model => model.numPagLiv)</td>
                </tr>

                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.numEdicaoLiv)</th>
                    <td>@Html.DisplayFor(model => model.numEdicaoLiv)</td>
                </tr>

                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.anoLiv)</th>
                    <td>@Html.DisplayFor(model => model.anoLiv)</td>
                </tr>

                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.qtdLiv)</th>
                    <td>@Html.DisplayFor(model => model.qtdLiv)</td>
                </tr>

                <tr>
                    <th scope="col"> @Html.DisplayNameFor(model => model.genLiv.nomGen)</th>
                    <td> @Html.DisplayFor(model => model.genLiv.nomGen)</td>
                </tr>

                <tr>
                    <th scope="row"> @Html.DisplayNameFor(model => model.editLiv.nomEdit)</th>
                    <td>@Html.DisplayFor(model => model.editLiv.nomEdit)</td>
                </tr>

            </tbody>
        </table>
    </div>
