@model IEnumerable<ASP_SpringLibrary.ViewModels.Livro.LivrosHomeViewModel>
@using ASP_SpringLibrary.ViewModels.Livro

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@Styles.Render("~/Content/Index.css")



<div class="content">
    <h1>Indicações</h1>

        <div class="fotos">
            @foreach (var tempLiv in Model)
            {
                <a href="@Url.Action("Detalhes", "Livros", new { id = tempLiv.ISBNLiv })" class="item current-item">
                    <img src="@Url.Content(tempLiv.imgLiv)" />
                    <h3>@tempLiv.titLiv</h3>
                    <h2>R$ @tempLiv.precoLiv.ToString("F")</h2>
                </a>
            }
        </div>

</div>

