@model IEnumerable<ASP_SpringLibrary.Models.NotaFiscal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@Styles.Render("~/Content/CadLiv.css")
<style>.container { width: 100%; max-width: 70%; }</style>

<h2>Todas as Vendas</h2><br />


<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.dateNF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pagNF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valNF)
        </th>
        <th>
            Nome do cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDelivNF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryNF.statDel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryNF.dtPrevDel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deliveryNF.dtEntDel)
        </th>
        <th>Alterar Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idNF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateNF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pagNF)
            </td>
            <td>
                R$ @item.valNF.ToString("F")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteNF.nomCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDelivNF)
            </td>

            @if (item.deliveryNF != null)
            {
                <td>
                    @switch (item.deliveryNF.statDel)
                    {
                        case '0':
                            <span>Encomendado</span>
                            break;
                        case '1':
                            <span>Saiu</span>
                            break;
                        case '2':
                            <span>Entregue</span>
                            break;
                        default:
                            <span>-</span>
                            break;
                    }
                </td>
                <td>
                    @if (item.deliveryNF.dtPrevDel != null)
                    {
                        <span>@item.deliveryNF.dtPrevDel.ToShortDateString()</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @if (item.deliveryNF.dtEntDel != null)
                    {
                        <span>@item.deliveryNF.dtEntDel.Value.ToShortDateString()</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td>
                    @switch (item.deliveryNF.statDel)
                    {
                        case '0':
                            @Html.ActionLink("Saiu", "altStatus", new { idDel = item.deliveryNF.idDel, status = 1 });
                            break;
                        case '1':
                            @Html.ActionLink("Entregue", "altStatus", new { idDel = item.deliveryNF.idDel, status = 2 });
                            break;
                        case '2':
                            <span>Entregue</span>
                            break;
                        default:
                            <span>-</span>
                            break;
                    }
                </td>
            }
            else
            {
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            }
        </tr>
    }

</table>
