
@{
    ViewBag.Title = "Menu";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @Styles.Render("~/Content/add.css")
</head>
<body>
    <h1>Administrador</h1>

    <div class="func">
        <div class="botoes">
            <a @Html.ActionLink("Consultar Livros", "Index", "Livro", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Consultar Venda", "Index", "Venda", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Clientes Jurídicos", "Fisico", "Cliente", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Clientes Físicos", "Juridico", "Cliente", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Consultar Editoras", "Index", "Editora", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Consultar Gêneros", "Index", "Genero", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Consultar Autores", "Index", "Autor", new { area = "Dashboard" }, null)</a>
            <a @Html.ActionLink("Funcionários", "Index", "Funcionario", new { area = "Dashboard" }, null)</a>
        </div>
    </div>

    <div class="footer">
        <div class="texto">
            <h2>@User.Identity.Name</h2>
        </div>

        <a class="tchau">
           @Html.ActionLink("Sair", "Logout", "Cliente", new { area = "" }, new { @class = "navbar-brand"})
           </a>
    </div>
</body>
</html>