<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @Styles.Render("~/Content/nav.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="masterNav">
        <ul class="topItems">
            <li>
                <a href='@Url.Action("Index", "Home")'>
                    <img id="logo" src="~/Photos/logo2.png">
                </a>
            </li>
            <li>
            <li>@Html.ActionLink("Livros", "Index", "Livros", null, new { Area = "" })</li> <!-- /Livros/Index -->
            <li>@Html.ActionLink("Sobre", "Sobre", "Home", null, new { Area = "" })</li> <!-- /Home/Sobre -->
            <li>@Html.ActionLink("Contato", "Contato", "Home", null, new { Area = "" })</li> <!-- /Home/Contato -->
            <li class="rightIcons">
                <a href='@Url.Action("Login", "Cliente", new { controller = "Cliente", Area = "", urlRetorno = Request.Url.AbsolutePath })'>
                    <img src="~/Photos/user.png">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <p>@User.Identity.Name</p>
                    }
                    else
                    {
                        <p>Login</p>
                    }
                </a>
                <a href='@Url.Action("Index", "Carrinho", new { controller = "Carrinho", Area = "" })'>
                    <img src="~/Photos/carrinho.png">
                </a>
            </li>
        </ul>
        @using (Html.BeginForm("Index", "Livros", FormMethod.Get))
        {
            <div class="busca">
                <input id="filter" name="filter" type="hidden" value="titulo" />
                <input id="busca" name="busca" class="barra" placeholder="Pesquise por um livro, autor ou editora">
                <button class="btnbusca" type="submit">Buscar</button>
            </div>
        }
    </nav>

    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
