<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administrador</title>
    @Styles.Render("~/Content/nav.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="masterNav">
        <ul class="topItems topItemsAdmin">
            <li>
                <a href='@Url.Action("Index", "Home")'>
                    <img id="logo" src="~/Photos/logo2.png">
                </a>
            </li>
            <li>
            <li>@Html.ActionLink("Autor", "Index", "Autor")</li>
            <li>@Html.ActionLink("Cliente Fisico", "Fisico", "Cliente")</li>
            <li>@Html.ActionLink("Cliente Juridico", "Juridico", "Cliente")</li>
            <li>@Html.ActionLink("Editora", "Index", "Editora")</li>
            <li>@Html.ActionLink("Funcionário", "Index", "Funcionario")</li>
            <li>@Html.ActionLink("Gênero", "Index", "Genero")</li>
            <li>@Html.ActionLink("Livro", "Index", "Livro")</li>
            <li>@Html.ActionLink("Venda", "Index", "Venda")</li>
            </li>
        </ul>
        </nav>
        <div class="container body-content">
            @RenderBody()
           
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
