@model IEnumerable<ASP_SpringLibrary.Models.Funcionario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imgFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargoFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailFunc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativoFunc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idFunc)
            </td>
            <td>
                <img src="@Url.Content(item.imgFunc)" width="100px" height="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cargoFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailFunc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ativoFunc)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Alterar", new { id = item.idFunc })
            </td>
        </tr>
    }

</table>
