@model ASP_SpringLibrary.ViewModels.Cliente.LoginClienteViewModel

@{
    ViewBag.Title = "Login";
}
@Styles.Render("~/Content/userLogin.css")

<aside>
    <img src="../../Photos/aside-image.png" />
</aside>
<div id="filler"></div>
<div class="formContainer">
    <img src="../../Photos/logo.png" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>
            <label for="login">Login</label>
            <input class="form-control" name="login" type="text" />
            <label for="senha">Senha</label>
            <input class="form-control" name="senha" type="password" />
            <br>
            <div id="formEnd">
                <a href="">Não possui cadastro?</a><!--TROCAR POR ACTION LINK? - FRONT-->
                <br>
                <button class="btn">Entrar</button>
            </div>
        </form>
        
    }
    </div>

<!--
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.urlRetorno)

        <div class="form-group">
            @Html.LabelFor(model => model.emailCli, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailCli, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.emailCli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.senhaCli, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.senhaCli, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.senhaCli, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Entrar" class="btn btn-default" />
            </div>
        </div>
    </div>
-->

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
