@using ASP_SpringLibrary.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@Styles.Render("~/Content/carrinho.css")

<div class="tudo">
    @{
        List<Carrinho> carrinho = (List<Carrinho>)Session["SpringCarrinho"];
        decimal total = 0;
    }
    @if (carrinho != null && carrinho.Count > 0)
    {
        foreach (var produto in carrinho)
        {

            <div class="conteudo">
                <div class="imagem">
                    <img src="@produto.livroCart.imgLiv" alt="livro">
                </div>
                <div class="texto">
                    <p>@produto.livroCart.titLiv</p>
                </div>
                <div class="quantity">
                    <p>@produto.qtdProdCart item(s)</p>
                </div>

                <div class="preco">
                    <h2>R$ @((produto.livroCart.precoLiv * produto.qtdProdCart).ToString("F"))
                           @{total += (produto.livroCart.precoLiv * produto.qtdProdCart);}
                    </h2>
                </div>
                <button type="submit" id="botao">
                    @Html.ActionLink("Remover", "Remover", new { id = produto.livroCart.ISBNLiv },
                    new { onclick = "return confirm('Tem certeza que quer remover esse livro?');" })
                </button>
            </div><br /><hr /><br />
        }

        <div class="bot">
            <h2>Total: R$ @total.ToString("F")</h2>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Comprar", "Carrinho")">
                    <button class="btn">Comprar</button>
                </a>
            }
            else
            {
                <a href='@Url.Action("Login", "Cliente", new { controller = "Cliente", Area = "", urlRetorno = Request.Url.AbsolutePath })'>
                    <button class="btn">Comprar</button>
                </a>
            }
        </div>
    }
    else
    {
        <h1>
            Carrinho vazio :(
        </h1>

        <div class="bot">
            <a href="@Url.Action("Index", "Livros")">
                <button class="btn">Ir às Compras</button>
            </a>
        </div>

    }

</div>