

@using ASP_SpringLibrary.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
@Styles.Render("~/Content/carrinho.css")

<div class="tudo">
    @{
        List<Carrinho> carrinho = (List<Carrinho>)Session["SpringCarrinho"];
    }
    @if (carrinho != null && carrinho.Count > 0)
    {
        foreach (var produto in carrinho)
        {
            <div class="imagem">
                <img src="@produto.livroCart.imgLiv" alt="livro">
            </div>
            <div class="conteudo">
                <div class="texto">
                    <p> @produto.livroCart.titLiv</p>
                </div>
                <div class="quantity">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelectPref">
                        <option selected>@produto.qtdProdCart </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="preco">
                    <h2>R$ @((produto.livroCart.precoLiv * produto.qtdProdCart).ToString("F"))</h2>
                </div>
                <button type="submit" id="botao">
                    <a>
                        @Html.ActionLink("Remover", "Remover", new { id = produto.livroCart.ISBNLiv },
                        new { onclick = "return confirm('Tem certeza que quer remover esse livro?');" })
                    </a>
                </button>
            </div><br /><br />


        }
    }
    else
    {
        <h1>
            Carrinho vazio :(
        </h1>
        <div class="bot">
            <button type="button" class="btn">
                <a href="@Url.Action("Index", "Livros")">Ir às Compras</a>
            </button>
        </div>

    }

    @if (carrinho != null && carrinho.Count > 0)
    {
        foreach (var produto in carrinho)
        {
            <div class="bot">
                <button type="button" class="btn">
                    <a href="@Url.Action("Comprar", "Carrinho")">Comprar</a>
                </button>
            </div>
        }
    }
    else
    {

    }


</div>