@using ASP_SpringLibrary.ViewModels.Livro

@{
    ViewBag.Title = "Home Page";
}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @Styles.Render("~/Content/Index.css")

<body>
    <div class="slideholder">
        <!--declarando os inputs-->
        <div class="slides">
            <input type="radio" name="radio" id="slide1">
            <input type="radio" name="radio" id="slide2">

            <!--colocando as imagens-->
            <div class="slide s1">
                <img src="Photos/Slide 1.png" alt="SlideShow 1">
            </div>
            <div class="slide">
                <img src="Photos/Slide 2.png" alt="SlideShow 2">
            </div>
        </div>
        <!--declarando as labels-->
        <div class="navigation">
            <label class="bar" for="slide1"></label>
            <label class="bar" for="slide2"></label>
        </div>
    </div><br><hr>
    @foreach (string secao in (List<string>)ViewData["secoes"])
    {
        <h1 class="title">@ViewData[@secao + "Tit"]</h1>
        <div class="fotos">
            @foreach (var tempLiv in (List<LivrosHomeViewModel>)ViewData[secao])
            {
                <a href="#" class="item current-item">
                    <img src="@Url.Content(tempLiv.imgLiv)" />
                    <h3>@tempLiv.titLiv</h3>
                    <h2>R$ @tempLiv.precoLiv.ToString("F")</h2>
                </a>
            }
        </div>
    }
</body>