@using ASP_SpringLibrary.ViewModels.Livro

@{
    ViewBag.Title = "Home Page";
}

@foreach (string secao in (List<string>)ViewData["secoes"])
{
    <h2 style="color:red">@ViewData[@secao + "Tit"]</h2>

    <div style="display: flex;">

        @foreach (var tempLiv in (List<LivrosHomeViewModel>)ViewData[secao])
        {
        <div>
            <a href="@Url.Action("Detalhes", "Livros", new { ISBNLiv = tempLiv.ISBNLiv })">
                <div style="text-align: center;">
                    <h3>@tempLiv.titLiv</h3>
                    <img src="@Url.Content(tempLiv.imgLiv)" style="width: 200px; height: 350px; object-fit: cover;" />
                    <h4>R$ @tempLiv.precoLiv.ToString("F")</h4>
                </div>
            </a>
            @Html.ActionLink("Adicionar ao carrinho", "AdicionarCarrinho", "Carrinho", new { ISBNLiv = tempLiv.ISBNLiv }, null);
        </div>
        }

    </div>
}