
@using ASP_SpringLibrary.ViewModels.Livro
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="estilos/home.css">
    @Styles.Render("~/Content/Index.css")
</head>
<body>
    <div class="content">
        <!--declarando os inputs-->
        <div class="slides">
            <input type="radio" name="radio" id="slide1">
            <input type="radio" name="radio" id="slide2">

            <!--colocando as imagens-->
            <div class="slide s1">
                <button type="button" class="irLivros">Vá para os livros</button>
                <img src="resources/Slide 1.png" alt="SlideShow 1">
            </div>
            <div class="slide">
                <img src="resources/Slide 2.png" alt="SlideShow 2">
            </div>
        </div>
        <!--declarando as labels-->
        <div class="navigation">
            <label class="bar" for="slide1"></label>
            <label class="bar" for="slide2"></label>
        </div>
    </div>

    <div class="row">

    </div>
    @foreach (string secao in (List<string>)ViewData["secoes"])
    {
        <h2 style="color:red">@ViewData[@secao + "Tit"]</h2>

        <div style="display: flex;">

            @foreach (var tempLiv in (List<LivrosHomeViewModel>)ViewData[secao])
            {
                <a href="@Url.Action("Detalhes", "Livros", new { id=tempLiv.ISBNLiv })">
                    <div style="text-align: center;">
                        <h3>@tempLiv.titLiv</h3>
                        <img src="@Url.Content(tempLiv.imgLiv)" style="width: 200px; height: 350px; object-fit: cover;" />
                        <h4>R$ @tempLiv.precoLiv.ToString("F")</h4>
                    </div>
                </a>
            }

        </div>
    }
</body>
</html>