@model IEnumerable<ASP_SpringLibrary.Models.ClienteFisico>

@{
    ViewBag.Title = "Fisico";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>Clientes Fisicos</h2><br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CEPCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numEndCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compEndCli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFCliF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtNascCliF)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEPCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numEndCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.compEndCli)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFCliF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtNascCliF)
            </td>
        </tr>
    }

</table>
